In [ ]:
print("welcome to everyone")

x=10
y=12
print(x+y)

welcome to everyone
22

case sensitive

In [ ]:
Name="vishakha"
name="vani"
print(Name,name)

vishakha vani

Indentation Matters

In [ ]:
if x>0:
  print("x is positive")
else:
  print("x is negitive")

x is positive

**Variable and Data types**


Numeric Datatype

In [ ]:
age=20
height=5.4
complex_num=3+3j

print(type(age))
print(type(height))
print(type(complex_num))

<class 'int'>
<class 'float'>
<class 'complex'>

Sring Type

In [ ]:
name="vishakha"
msg='welcome to python'
multiline="""this is mutliline code"""
print(type(name))
print(type(msg))
print(type(multiline))

<class 'str'>
<class 'str'>
<class 'str'>

Boolean Type

In [ ]:
is_active=True
is_finished=False

print("this is active",is_active)

this is active True

Type Checking

In [ ]:
x=12
y=2.3
z="vish"
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

Type Converstion

In [ ]:
x="123"
y=int(x)
z=float(x)
print(x)
print(y)
print(z)

123
123
123.0

**Exercise 1: Personal Information**

create a variable for personal information

In [ ]:
name="vishakha badi"
age=20
city="mudhol"
height=5.4
is_student=True

print(name)
print(age)
print(city)
print(height)
print(is_student)

vishakha badi
20
mudhol
5.4
True

Formatted or concatination

In [ ]:
print("vish"+"akha")
print("vani" + " badi"+" from"+" mudhol")

vishakha
vani badi from mudhol

**Operators & Basic Operations**

Arithmetic Operators

In [ ]:
x=10
y=20
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x//y)
print(x%y)

30
-10
200
0.5
0
10

Order of operations (PEMDAS)
P - Parentheses
E - Exponents
M - Multiplication
D - Division
A - Addition
S - Subtraction

In [ ]:
result = 2 + 3 * 4 ** 2 - 1
print(f"2 + 3 * 4 ** 2 - 1 = {result}")

2 + 3 * 4 ** 2 - 1 = 49

Relational Operators (or) Comparison

In [ ]:
x=20
y=10
print(x>y)
print(x<y)
print(x==y)
print(x>=y)
print(y<=x)

True
False
False
True
True

String comparison

In [ ]:
x="vish"
y="badi"
print(x>y)

True

Logical Operators

In [ ]:
x=20
y=10
print(x and y)
print(x or y)
print(not x)

10
20
False

In [ ]:
age=20
license=18
e= age>18 or license>18
print(e)

True

**Exercise 2: Simple Calculator**


Create a calculator

In [ ]:
def add(a,b):
  return a+b
def sub(a,b):
  return a-b
def mul(a,b):
  return a*b
def div(a,b):
  return a/b

print(add(10,20))
print(sub(20,5))
print(mul(20,20))
print(div(20,2))

30
15
400
10.0

**Data Structures**

Lists
Creating lists

In [ ]:
list=["vish","kavita","jyoti","aishu","lachii"]
print(list)

mix_list=[10,"vish",True,3.23]
print(mix_list)

['vish', 'kavita', 'jyoti', 'aishu', 'lachii']
[10, 'vish', True, 3.23]

List indexing (0-based)

In [ ]:
print(list[0])
print(mix_list[-1])

vish
3.23

List slicing

In [ ]:
print(list[1:4])
print(mix_list[-4:-1])

['kavita', 'jyoti', 'aishu']
[10, 'vish', True]

List methods

In [ ]:
list.append("nayii")
print(list)
list.insert(1,"vijay")
print(list)

['vish', 'kavita', 'jyoti', 'aishu', 'lachii', 'nayii', 'nayii']
['vish', 'vijay', 'kavita', 'jyoti', 'aishu', 'lachii', 'nayii', 'nayii']

List operations

In [ ]:
print(len(list))
print( 'vish' in list)
print(list.index('vish'))

8
True
0

**Tuples**

Tuples are immutable

In [ ]:
x=(1,2,"vish",2.34,1,1)
print(x)
print(type(x))

(1, 2, 'vish', 2.34, 1, 1)
<class 'tuple'>

Tuple methods

In [ ]:
y=(1,2,4,2,1,1,2,1)
print(y.count(1))
print(y.index(4))

4
2

**Why use tuples?**

1)Immutable (safe for dictionary keys)
2)Slightly faster than lists
3)Good for fixed collections

**Dictionaries**

Dictionary creation

In [ ]:
dict={
    "name":"vish",
    "age":20,
    "city":"mudhol",
    "salary":25000,
    "skills":["python","c","sql"]
}
print(dict)

{'name': 'vish', 'age': 20, 'city': 'mudhol', 'salary': 25000, 'skills': ['python', 'c', 'sql']}

Accessing values and Methods

In [ ]:
print(dict.keys())
print(dict.values())
print(dict.get("name"))
print(dict["age"])
print(dict.items())

dict_keys(['name', 'age', 'city', 'salary', 'skills'])
dict_values(['vish', 20, 'mudhol', 25000, ['python', 'c', 'sql']])
vish
20
dict_items([('name', 'vish'), ('age', 20), ('city', 'mudhol'), ('salary', 25000), ('skills', ['python', 'c', 'sql'])])

Adding/updating

In [ ]:
dict["name"]="nayii"
print(dict)

dict["salary"]=45000
print(dict)

{'name': 'nayii', 'age': 20, 'city': 'mudhol', 'salary': 25000, 'skills': ['python', 'c', 'sql']}
{'name': 'nayii', 'age': 20, 'city': 'mudhol', 'salary': 45000, 'skills': ['python', 'c', 'sql']}

Practical use case: Inventory management

In [ ]:
inventory={
    "laptop":{"quentity":200 ,"price":234000},
    "mobile":{"quentity":120 ,"price":40000},
    "tablets":{"quentity":180 ,"price":78000}
}
print(inventory)
print(inventory['laptop']['price'])
print(inventory['mobile']['quentity'])

{'laptop': {'quentity': 200, 'price': 234000}, 'mobile': {'quentity': 120, 'price': 40000}, 'tablets': {'quentity': 180, 'price': 78000}}
234000
120

**Sets**

Sets contain unique elements

In [ ]:
set={21,34,3.0,True,1}
print(set)
print(type(set))

{True, 34, 3.0, 21}
<class 'set'>

In [ ]:
a={"vish","eshii","vanii","nayii","ranii","ranii"}
print(a)
print(type(a))

{'eshii', 'nayii', 'vish', 'vanii', 'ranii'}
<class 'set'>

Set operations

In [ ]:
x={1,2,3,4,1,5,2}
y={3,8,6,1,4,6,5}

print(x.intersection(y))
print(x.union(y))
print(x.difference(y))

x.add(20)
print(x)

x.update([2,30])
print(x)

{1, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 8}
{2}
{1, 2, 3, 4, 5, 20}
{1, 2, 3, 4, 5, 20, 30}